<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGroupID</key>
	<string>$(APP_GROUP_ID)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.freeapsx.background-task.critical-event-log</string>
	</array>
	<key>CBBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>com.artificial-pancreas-iaps</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(APP_URL_SCHEME)</string>
				<string>freeaps-x</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>gcm-ciq</string>
		<string>dexcomg7</string>
		<string>xdripswift</string>
		<string>dexcomg6</string>
		<string>dexcomcgm</string>
		<string>diabox</string>
		<string>spikeapp</string>
		<string>libredirect</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>NFC is used to scan Libre sensors.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth is used to communicate with insulin pump and continuous glucose monitor devices</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth is used to communicate with insulin pump and continuous glucose monitor devices</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>To create events with BG reading values, so that they can be viewed on Apple Watch and CarPlay</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendar is used to create a new glucose events.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>For authorized acces to bolus</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Health App is used to store blood glucose, carbs and insulin</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Health App is used to store blood glucose, carbs and insulin</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(COPYRIGHT_NOTICE)</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>processing</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>To create events with BG reading values, so that they can be viewed on Apple Watch and CarPlay</string>
    <key>NSContactsUsageDescription</key>
    <string>To enable the Contact Image feature: to get live updates from iAPS to your Apple Watch Contact complication</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
