<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>Bla bla Record Health</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Bla bla Share Health</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Bla bla Update Health</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>$(BUNDLE_IDENTIFIER).watchkitapp</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
	<key>CFBundleIconName</key>
	<string>$(APP_ICON)</string>
</dict>
</plist>
