[submodule "Dependencies/MedtrumKit"]
	path = Dependencies/MedtrumKit
	url = https://github.com/bastiaanv/MedtrumKit
	branch = feat/settings-ui

[submodule "Dependencies/EversenseKit"]
	path = Dependencies/EversenseKit
	url = https://github.com/bastiaanv/EversenseKit
	branch = dev
