APP_DISPLAY_NAME = iAPS
APP_VERSION = 6.0.5
APP_BUILD_NUMBER = 1
COPYRIGHT_NOTICE =
DEVELOPER_TEAM = ##TEAM_ID##
BUNDLE_IDENTIFIER = ru.artpancreas.$(DEVELOPMENT_TEAM).FreeAPS
APP_GROUP_ID = group.com.$(DEVELOPMENT_TEAM).loopkit.LoopGroup
APP_ICON = pod_colorful
APP_URL_SCHEME = freeaps-x

#include? "ConfigOverride.xcconfig"
//#include? "../../ConfigOverride.xcconfig"
