name: 2. Add Identifiers
run-name: Add Identifiers (${{ github.ref_name }})
on:
  workflow_dispatch:

jobs:
  validate:
    name: Validate
    uses: ./.github/workflows/validate_secrets.yml
    secrets: inherit

  identifiers:
    needs: validate
    runs-on: macos-latest
    steps:
      
      # Checks-out the repo
      - name: Checkout Repo
        uses: actions/checkout@v4
      
      # Ensure compatible Bundler version for Fastlane (fastlane requires bundler < 3)
      - name: Install Bundler 2.x
        run: |
          gem install bundler -v 2.7.2
          echo "BUNDLER_VER=2.7.2" >> $GITHUB_ENV
        
      # Patch Fastlane Match to not print tables
      - name: Patch Match Tables
        run: find /usr/local/lib/ruby/gems -name table_printer.rb | xargs sed -i "" "/puts(Terminal::Table.new(params))/d"
        
      # Install project dependencies
      - name: Install Project Dependencies
        run: bundle _${{ env.BUNDLER_VER }}_ install

      # Sync the GitHub runner clock with the Windows time server (workaround as suggested in https://github.com/actions/runner/issues/2996)
      - name: Sync clock
        run: sudo sntp -sS time.windows.com

      # Create or update identifiers for app
      - name: Fastlane Provision
        run: bundle _${{ env.BUNDLER_VER }}_ exec fastlane identifiers
        env:
          TEAMID: ${{ secrets.TEAMID }}
          GH_PAT: ${{ secrets.GH_PAT }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          FASTLANE_KEY_ID: ${{ secrets.FASTLANE_KEY_ID }}
          FASTLANE_ISSUER_ID: ${{ secrets.FASTLANE_ISSUER_ID }}
          FASTLANE_KEY: ${{ secrets.FASTLANE_KEY }}
